
{% extends 'base.html' %}

{% block content %}


<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">full_name</th>
      <th scope="col">birthday</th>
      <th scope="col">country</th>
      <th scope="col">Detail</th>
    </tr>
  </thead>
    {% for a in author %}
  <tbody>
    <tr>
      <th scope="row">{{ forloop.counter}}</th>
      <td>{{ a.full_name }}</td>
      <td>{{ a.birthday }}</td>
      <td>{{ a.country }}</td>
      <td><a href="{% url 'author-detail' a.pk %}">Detail</a></td>
    </tr>

  </tbody>
    {% endfor %}
</table>

<a href="{% url 'book-list' %}" class="btn btn-primary">Bosh sahifa</a>

{% endblock %}