
{% extends 'base.html' %}

{% block content %}


<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">username</th>
      <th scope="col">phone_number</th>
      <th scope="col">role</th>
      <th scope="col">email</th>
      <th scope="col">balance</th>
    </tr>
  </thead>
  {% for user in users %}
  <tbody>
    <tr>
      <th scope="row">{{ forloop.counter}}</th>
      <td>{{ user.username }}</td>
      <td>{{ user.phone_number }}</td>
      <td>{{ user.role }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.balance }}</td>


  </tbody>
  {% endfor %}
  <a href="{% url 'book-list' %}">Book_listga_o'tish</a>
</table>

{% endblock %}