
{% extends 'base.html' %}

{% block content %}

<a href=" {% url 'create-book'%} ">+ADD_BOOK</a>
<br><br>
<a href=" {% url 'create-author'%} ">+ADD_AUTHOR</a>
<br><br>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Author</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Detail</th>
    </tr>
  </thead>
    {% for b in book %}
  <tbody>
    <tr>
      <th scope="row">{{ forloop.counter}}</th>
      <td>{{ b.author }}</td>
      <td>{{ b.title }}</td>
      <td>{{ b.description }}</td>
      <td>{{ b.price }}</td>
      <td><a href="{% url 'book-detail' b.id %}">Detail</a></td>
    </tr>

  </tbody>
    {% endfor %}
</table>

{% endblock %}